@model BlogNET8.Models.ViewModels.HomeVM

@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center row col-12">
    <h1 class="display-4 mt-1">Últimos artículos</h1>
</div>

@if (Model.Articles.Count() > 0)
{
    <hr />
    <div class="row">
        @foreach(var article in Model.Articles)
        {
            <div class="col-4 mb-4">
                <div class="card">
                    <img src="@article.UrlImagen" alt="Alternate Text" />
                    <div class="card-body">
                        <h5 class="text-center">@article.Title</h5>
                        <a asp-action="Detail" asp-route-id="@article.Id" class="btn btn-secondary">Ver detalle</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No hay artículos</p>
}

<br />
<!--Botones de páginación-->
<div class="text-center">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item @(Model.PageIndex > 1 ? "" : "disabled")">
                <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-page="@(Model.PageIndex - 1)">Anterior</a>
            </li>
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                    <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-page="@i">@i</a>
                </li>
            }
            <li class="page-item @(Model.PageIndex < Model.PageCount ? "" : "disabled")">
                <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-page="@(Model.PageIndex + 1)">Siguiente</a>
            </li>
        </ul>
    </nav>
</div>

<!--Banner Contacto-->