@page
@using BlogNET8.Utilities
@model RegisterModel
@{
    ViewData["Title"] = "Registro";
}

<h1 class="text-center mt-1">@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6 offset-3">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <br />
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Name" class="form-control" autocomplete="name" aria-required="true" placeholder="Ingrese su nombre" />
                <label asp-for="Input.Name">Nombre</label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" autocomplete="lastname" aria-required="true" placeholder="Ingrese su apellido" />
                <label asp-for="Input.LastName">Apellido</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            
            <div class="form-floating mb-3">
                <input asp-for="Input.Address" class="form-control" autocomplete="address" aria-required="true" placeholder="Ingrese su dirección" />
                <label asp-for="Input.Address">Dirección</label>
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.City" class="form-control" autocomplete="city" aria-required="true" placeholder="Ingrese su ciudad" />
                <label asp-for="Input.City">Ciudad</label>
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            @* Sección para elegir rol *@
            <div class="form-group row mt-2 mb-2">
                <div class="col-4 offset-2"><strong>Seleccionar Rol: </strong></div>
               <div class="col-6">
                    <input type="radio" name="radUserRol" value="@CNT.Admin" /> @CNT.Admin
                    <input type="radio" name="radUserRol" value="@CNT.Autor" /> @CNT.Autor
                    <input type="radio" name="radUserRol" value="@CNT.Subscriber" checked/> @CNT.Subscriber
               </div>
            </div>


            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary mt-4">Aceptar</button>
        </form>
    </div>
    @* <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div> *@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
